body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* font-family: "Open Sans", sans-serif; */
}

h2 {
  font-family: "Poppins", sans-serif;
}
p {
  font-family: "Open Sans", sans-serif;
}
header {
  background: url("images/bg-hero-desktop.svg");
  margin-bottom: 10vh;
}

button {
  border-radius: 20px;
  padding: 7px 30px;
  background: #fff;
  cursor: pointer;
  border: none;
  box-shadow: 2px 2px 5px grey;
  /* font-family: "Open Sans", sans-serif; */
  font-family: "Poppins", sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  padding: 40px 50px;
}

.hero {
  display: flex;
  padding: 0 50px;
}

.hero-text {
  width: 40%;
}

.hero-text h2 {
  font-family: "Poppins", sans-serif;
  margin: 0;
  font-size: 30px;
}

.hero-text p {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  text-justify: auto;
}

.hero-text button {
  margin-top: 15px;
  padding: 10px 40px !important;
  border-radius: 20px;
  background: hsl(322, 100%, 66%);
  color: #fff;
}

.heading {
  margin-top: 10vh;
}

.hero-img {
  width: 60%;
  padding-bottom: 20px;
}

.hero-img img {
  float: right;
}

.card {
  display: flex;
  /* border: 2px solid grey; */
  border-radius: 10px;
  margin-top: 3vh;
  box-shadow: 2px 2px 5px grey;
}

.text,
.text-2 {
  width: 40%;
}
.text {
  padding-left: 8em;
  /* margin-top: 10px; */
  padding-top: 2em;

  /* 
  padding-left: 8em;
  padding-bottom: none; */
}
.sect {
  padding: 0 50px;
}
.pic {
  width: 60%;
}
.pic img {
  padding: 30px;
  /* margin-left: 5em; */
  float: right;
}
.pic-2 {
  width: 60%;
}
.pic-2 img {
  padding-left: 8em;
  padding-top: 2em;
  padding-bottom: 2em;
}
.text-2 {
  padding: 3em;
}

footer {
  /* background: hsl(208, 11%, 55%); */
  background: hsl(192, 100%, 9%);
  color: #fff;
  display: flex;
  padding-top: 20vh
}

footer ul {
  list-style-type: none;
}
.footer-img {
  color: #fff !important;
}

footer .first {
  width: 30%;
}
footer .second {
  width: 20%;
}
footer .third {
  width: 20%;
}
footer .fourth {
  width: 30%;
}